/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
.image-logo {
    width: 40px;
    height: 40px;
}

.navbar-text:hover{
    color: black;
    cursor: pointer;
    transition-duration: 950ms;
}
#Carrossel{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.nav-link{
    color: rgb(97, 93, 93);
}
.nav-link:hover{
    color:black;
}

.navbar-text{
    margin-right: 0px;
}
.navbar-text:hover{
    color: black;
}
nav{
    background-color:#E4D4C8;
    color:rgb(97, 93, 93);
    /*border-bottom: 1px solid black;*/
}

.d-block.w-100{
    height: 500px;
}
.mb-3{
    float: left;
    width: 90%;
}
.btn.btn-primary{
    float: right;
}
#location{
    text-align: center; 
}   
#pesquisa{
    text-align: center;
}

.card{
    width: 16rem;
    margin-left: 13.8px;
    float: left;
}
.legendFooter{
    display: inline-block;
    margin: 70px;
}
h4{
    text-align: center;
}
#myFooter {
    background-color: #A47551;
    color: white;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

.col-sm-3.development{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* CSS utilizado para posicionar o rodapé no final da página. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background-color: white;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
#fim{
    background-color: #523A28;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}